<!DOCTYPE html>
<html ng-app="myAngularApplication">
<head>
    <title>Sample Angular Application</title>

    <script src="libs/angular.min.js"></script>
    <script src="app/app2.js"></script>
    <script src="app/book/booksController.js"></script>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

</head>
<body ng-controller="booksController">

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h3>
                    {{ message }}
                </h3>

                <h4 ng-controller="booksController as booksCtrl">
                    {{ booksCtrl.greeting }}
                </h4>
                <hr />
                {{ today | date:'dd, MMMM, yyyy' }}
                <hr />
                select country:<select ng-model="countries" ng-options="country for country in countries"></select>
                <br />
                <input type="button" ng-click="fetchBooks()" value="Fetch Books" class="btn btn-success">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                ID
                            </th>
                            <th>
                                BookName
                            </th>
                            <th>
                                Author Name
                            </th>
                            <th>
                                ISBN
                            </th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="book in books | filter:'test1'">
                            <td>
                                {{ book.ID}}
                            </td>
                            <td>
                                {{book.BookName}}
                            </td>
                            <td>
                                {{book.AuthorName}}
                            </td>
                            <td>
                                {{book.ISBN}}
                            </td>
                            <td>{{ today | date:'dd, MMMM, yyyy' }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>



</body>
</html>
